@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#filter-yellow {
  filter: invert(97%) sepia(17%) saturate(3949%) hue-rotate(319deg)
    brightness(120%) contrast(108%);
}
